﻿
@{
    ViewBag.Title = "Add_Dependent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="page-header" style="margin-bottom: -20px ; margin-top: -10px;">
        <div class="text-center align-items-center ">
            <h2 class="page-header-title" style="color:black">DEPENDENT</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">


        <div class="panel panel-default" style="padding-top: 10px;">
            <div>
                <form autocomplete="off">

                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Relationship</label>
                                        <select class="form-control">
                                            <option>Husband</option>
                                            <option>Wife</option>
                                            <option>Son</option>
                                            <option>Daughter</option>
                                            <option>Father</option>
                                            <option>Mother</option>
                                            <option>Brother</option>
                                            <option>Sister</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="form-group" style="margin-top: 35px !important">
                                        <div class="custom-control custom-checkbox mb-3">
                                            <input type="checkbox" class="custom-control-input" id="emergency" name="emergency">
                                            <label class="custom-control-label" for="emergency">Emergency Contact</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group" style="margin-top: 35px !important">
                                        <div class="custom-control custom-checkbox mb-3">
                                            <input type="checkbox" class="custom-control-input" id="ticket" name="ticket">
                                            <label class="custom-control-label" for="ticket">Ticket Eligible</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Gender</label>
                                        <select class="form-control">
                                            <option>Male</option>
                                            <option>Female</option>
                                            <option>Others</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Marital Status</label>
                                        <select class="form-control">
                                            <option>Single</option>
                                            <option>Married</option>
                                            <option>Divorced or Widow</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>CNIC</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Passport No</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>DOB</label>
                                        <input type="date" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Nationality</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Remarks</label>
                                        <textarea class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group float-right">
                                        <button class="btn btn-dark " style="margin-top: 25px !important;">Add To List</button>
                                    </div>
                                </div>
                            </div>
                            <table class="table text-center table-striped table-responsive-sm">
                                <thead>
                                    <tr style="background-color: #252946;  height: 20px !important;">
                                        <th scope="col" style="color:#aea9c3 !important;">RELATIONSHIP</th>
                                        <th scope="col" style="color:#aea9c3 !important;">FULL NAME</th>
                                        <th scope="col" style="color:#aea9c3 !important;">GENDER</th>
                                        <th scope="col" style="color:#aea9c3 !important;">MARITAL STATUS</th>
                                        <th scope="col" style="color:#aea9c3 !important;">CNIC</th>
                                        <th scope="col" style="color:#aea9c3 !important;">PASSPORT NO</th>
                                        <th scope="col" style="color:#aea9c3 !important;">DOB</th>
                                        <th scope="col" style="color:#aea9c3 !important;">ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <div class="form-group float-right" style="margin-top: 25px;">
                                <a href="/Customer/List" class="btn btn-dark">Cancel</a>
                                <input type="button" onclick="SaveItem()" value="Save" class="btn btn-info" />
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



