﻿
@{
    ViewBag.Title = "Add_Document";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="page-header" style="margin-bottom: -20px ; margin-top: -10px;">
        <div class="text-center align-items-center ">
            <h2 class="page-header-title" style="color:black">DOCS</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="panel panel-default" style="padding-top: 10px;">
            <div>
                <form autocomplete="off">

                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Document Type</label>
                                        <select class="form-control">
                                            <option>National ID</option>
                                            <option>Passport</option>
                                            <option>Insurance Card</option>
                                            <option>Driving License</option>
                                            <option>Family ID</option>
                                            <option>Others</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <input type="number" class="form-control" />
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Expiry Date</label>
                                        <input type="date" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <input type="file" class="form-control" style="margin-top: 25px !important;" />
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-dark " style="margin-top: 25px !important;">Add To List</button>
                                </div>
                            </div>
                            <div>

                                <table class="table text-center table-striped table-responsive-sm">
                                    <thead>
                                        <tr style="background-color: #252946;  height: 20px !important;">
                                            <th scope="col" style="color:#aea9c3 !important;">CATEGORY</th>
                                            <th scope="col" style="color:#aea9c3 !important;">HOURS</th>
                                            <th scope="col" style="color:#aea9c3 !important;">ACTION</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>ABC</td>
                                            <td>ABC</td>
                                            <td>ABC</td>
                                        </tr>
                                        <tr>
                                            <td>ABC</td>
                                            <td>ABC</td>
                                            <td>ABC</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="form-group float-right" style="margin-top: 25px;">
                                    <a href="/Customer/List" class="btn btn-dark">Cancel</a>
                                    <input type="button" onclick="SaveItem()" value="Save" class="btn btn-info" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



