﻿
@{
    ViewBag.Title = "Allownces";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Begin Page Header-->
<div class="row">
    <div class="page-header" style="margin-bottom: -20px ; margin-top: -10px;">
        <div class="text-center align-items-center ">
            <h2 class="page-header-title" style="color:black">AllownceS</h2>
        </div>
    </div>
</div>
<!-- End Page Header -->
<div class="row">
    <div class="col-12">


        <div class="panel panel-default" style="padding-top: 10px;">
            <div>
                <form autocomplete="off">

                    @Html.AntiForgeryToken()

                    <div class="widget-header bordered no-actions d-flex align-items-center" style="margin-bottom: 20px;">
                        <h4>Allownces</h4>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-check-inline">
                                    Starting
                                    <span style="border-right:1px solid black;margin-left:7px; display: inline;"></span>
                                    <div class="custom-control custom-checkbox mr-sm-2">
                                        <input type="checkbox" class="custom-control-input" id="customControlAutosizing"/>
                                        <label class="custom-control-label" for="customControlAutosizing">Exclude From Payroll</label>
                                    </div>
                                </label>
                                <input type="date" class="form-control" id="" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Pay Schedule</label>
                                <select class="form-control" id="emptype">
                                    <option value="1">Select Type</option>
                                    <option value="2">Monthly</option>
                                    <option value="3">Annualy</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="" style="margin-bottom: 20px;">
                        <h2 style="color:black !important;"><b>Allownces</b></h2>
                    </div>
                    <table class="table">
                        <thead class="" style="background-color:#2c304d !important;">
                            <tr>
                                <th scope="col" style="color:white !important;">Name</th>
                                <th scope="col" style="color:white !important;">Percentage</th>
                                <th scope="col" style="color:white !important;">Amount</th>
                                <th scope="col" style="color:white !important;">Taxable</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                    <div style="margin-bottom: 20px;">
                        <h2 style="color:black !important;"><b>Contibution</b></h2>
                    </div>
                    <table class="table">
                        <thead class="" style="background-color:#2c304d !important;">
                            <tr>
                                <th scope="col" style="color:white !important;">Name</th>
                                <th scope="col" style="color:white !important;">Percentage</th>
                                <th scope="col" style="color:white !important;">Amount</th>
                                <th scope="col" style="color:white !important;">Starting Balance</th>
                                <th scope="col" style="color:white !important;">Taxable</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>EOBI</td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">%</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Rs</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </td>
                                <td>
                                    <input type="text" class="form-control"/>
                                </td>
                                <td>
                                    <input type="checkbox" class="custom-checkbox" style="float:left"/>
                                    <span class="glyphicon glyphicon-remove" style="color:black; float:right"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Provident Fund</td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">%</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Rs</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </td>
                                <td>
                                    <input type="text" class="form-control" />
                                </td>
                                <td>
                                    <input type="checkbox" class="custom-checkbox" style="float:left" />
                                    <span class="glyphicon glyphicon-remove" style="color:black; float:right"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Loan</td>
                                < <td>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">%</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Rs</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </td>
                                <td>
                                    <input type="text" class="form-control"/>
                                </td>
                                <td>
                                    <input type="checkbox" class="custom-checkbox" style="float:left"/>
                                    <span class="glyphicon glyphicon-remove" style="color:black; float:right"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Income Tax</td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">%</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Rs</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </td>
                                <td>
                                    <input type="text" class="form-control" />
                                </td>
                                <td>
                                    <input type="checkbox" class="custom-checkbox" style="float:left" />
                                    <span class="glyphicon glyphicon-remove" style="color:black; float:right"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Late & Early out Deduction</td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">%</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Rs</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </td>
                                <td>
                                    <input type="text" class="form-control" />
                                </td>
                                <td>
                                    <input type="checkbox" class="custom-checkbox" style="float:left" />
                                    <span class="glyphicon glyphicon-remove" style="color:black; float:right"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                    <div class="form-group float-right">
                        <a href="/Customer/List" class="btn btn-dark">Cancel</a>
                        <input type="button" onclick="SaveItem()" value="Save" class="btn btn-info" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

