﻿
@{
    ViewBag.Title = "Employment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <style>
        .ui-widget-header {
            background-color: #6b6965 !important;
        }
       
    </style>

</head>
<!-- Begin Page Header-->
<div class="row">
    <div class="page-header" style="margin-bottom: -20px ; margin-top: -10px;">
        <div class="text-center align-items-center ">
            <h2 class="page-header-title" style="color:black">Employment </h2>
        </div>
    </div>
</div>
<!-- End Page Header -->
<div class="row">
    <div class="col-12">


        <div class="panel panel-default" style="padding-top: 10px;">
            <div>
                <form autocomplete="off">

                    @Html.AntiForgeryToken()

                    <div class="widget-header bordered no-actions d-flex align-items-center" style="margin-bottom: 20px;">
                        <h4>Employment Info</h4>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Hire Date</label>
                                <input type="date" class="form-control" id="" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Joining Date</label>
                                <input type="date" class="form-control" id="" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Status</label>
                                <select class="form-control" id="sel1">
                                    <option>Active</option>
                                    <option>Deactive</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Employee Type</label>
                                <select class="form-control" id="emptype">
                                    <option value="1">Resigned</option>
                                    <option value="2">Terminated</option>
                                    <option value="3">End Of Contract Agreement</option>
                                    <option value="3">Permanent</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-4" style="display:none" id="empdatehide">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label style="width:100%;">Permanent Date</label>
                                        <input type="date" class="form-control" id="my_date_picker3" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label style="width:100%;">Settlement Date</label>
                                        <input type="date" class="form-control" id="my_date_picker4" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Location</label>@*<i class="fa fa-plus"></i>*@
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Shift</label>
                                <select class="form-control" id="sel1">
                                    <option>Morning</option>
                                    <option>Evening</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Designation</label>
                                <select class="form-control" id="sel1">
                                    <option>Trainee</option>
                                    <option>Manager</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Speciality</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Classification</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>

                    </div>

                    <div class="widget-header bordered no-actions d-flex align-items-center" style="margin-bottom: 20px;">
                        <h4>Employment More Info</h4>
                    </div>
                    <div class="row">

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Department</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>National ID</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>PassportNo</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Employee Code</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Medical Insurance</label><br />
                                <div class="custom-control custom-radio custom-control-inline mt-2">
                                    <input type="radio" class="custom-control-input" id="customRadio" name="example" value="customEx">
                                    <label class="custom-control-label" for="customRadio">Eligible</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline mt-2">
                                    <input type="radio" class="custom-control-input" id="customRadio2" name="example" value="customEx">
                                    <label class="custom-control-label" for="customRadio2">Non-Eligible</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Air Ticket</label><br />
                                <div class="custom-control custom-radio custom-control-inline mt-2">
                                    <input type="radio" class="custom-control-input" id="customRadio3" name="example" value="customEx">
                                    <label class="custom-control-label" for="customRadio3">Eligible</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline mt-2">
                                    <input type="radio" class="custom-control-input" id="customRadio4" name="example" value="customEx">
                                    <label class="custom-control-label" for="customRadio4">Non-Eligible</label>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="widget-header bordered no-actions d-flex align-items-center" style="margin-bottom: 20px;">
                        <h4>Account Info</h4>
                    </div>
                    <div class="row">

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Pay Type</label>
                                <select class="form-control" id="sel1">
                                    <option>Per Month</option>
                                    <option>Year</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Basic Salary</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Rs</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Salary Payment Method</label>
                                    <select class="form-control" id="payid">
                                        <option value="1">select Option</option>
                                        <option value="bank">Bank Transfer</option>
                                        <option value="cash">Cash</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 hidefield hide">
                            <div class="form-group">
                                <label>Bank Name</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-4 hidefield hide">
                            <div class="form-group">
                                <label>Branch Name</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-4 hidefield hide">
                            <div class="form-group">
                                <label>Branch Code</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-4 hidefield hide">
                            <div class="form-group">
                                <label>Account No</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-4 hidefield hide">
                            <div class="form-group">
                                <label>Swift Code</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>


                    </div>

                    <div class="form-group float-right">
                        <a href="/Customer/List" class="btn btn-dark">Cancel</a>
                        <input type="button" onclick="SaveItem()" value="Save" class="btn btn-info" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@*for show input dates fields for employee type*@
<script>
    $("#emptype").change(function () {
        var selected_option = $('#emptype').val();
        if (selected_option === '2') {
            $('#empdatehide').attr('pk', '1').show();
        }
        if (selected_option != '2') {
            $("#empdatehide").removeAttr('pk').show();
        }
    })
</script>
@*for show input dates fields for Bank and cash options*@
<script>
    $("#payid").change(function () {
    var selected_option = $('#payid').val();
    if (selected_option === 'bank') {
        $('.hidefield').attr('pk','1').show();
        $('.hidefield').attr('pk','1').show();
        $('.hidefield').attr('pk','1').show();
        $('.hidefield').attr('pk','1').show();
        $('.hidefield').attr('pk','1').show();
    }
    if (selected_option != 'bank') {
        $(".hidefield").removeAttr('pk').hide();
        $(".hidefield").removeAttr('pk').hide();
        $(".hidefield").removeAttr('pk').hide();
        $(".hidefield").removeAttr('pk').hide();
        $(".hidefield").removeAttr('pk').hide();
        $(".hidefield").removeAttr('pk').hide();
    }
})
</script>