﻿@model VUPayRoll.Entities.EmployeeInfo
@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Begin Page Header-->
<div class="row">
    <div class="page-header" style="margin-bottom: -20px ; margin-top: -10px;">
        <div class="text-center align-items-center ">
            <h2 class="page-header-title" style="color:black">CREATE EMPLOYEE</h2>
        </div>
    </div>
</div>
<!-- End Page Header -->
<div class="row">
    <div class="col-12">


        <div class="panel panel-default" style="padding-top: 10px;">
            <div>
                <form autocomplete="off" method="post">

                    @Html.AntiForgeryToken()
                    <div class="widget-header bordered no-actions d-flex align-items-center" style="margin-bottom: 20px;">
                        <h4>Employee Info</h4>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" name="FirstName" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" name="LastName" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label>CNIC</label>
                                <input type="text"name="CNIC" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>DOB</label>
                                <input type="datetime" name="DOB" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label>Marital Status</label>
                                <select class="form-control" id="sel1">
                                    <option>Single</option>
                                    <option>Married</option>
                                    <option>Divorce</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Religion</label>
                                <select class="form-control" id="sel1">
                                    <option>Muslim</option>
                                    <option>Non-Muslim</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" style="background-color:#2c304d !important;">
                                        <img id="blah" src="~/assets/img/download.png" alt="your image" style="margin-left: 125px; height: 120px !important; width: 115px !important;" class="rounded-circle" />
                                        <input type='file' name="" onchange="readURL(this);" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Gender</label>
                                <select class="form-control" id="sel1">
                                    <option>Male</option>
                                    <option>Female</option>
                                    <option>Others</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="widget-header bordered no-actions d-flex align-items-center" style="margin-bottom: 20px;">
                        <h4>Employee Info</h4>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Country</label>
                                <input type="text" name="Country" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label>City</label>
                                <input type="text" name="City"class="form-control" />
                            </div>


                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Nationality</label>
                                <input type="text" name="Nationality" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label>Street Address</label>
                                <input type="text" name="StreetAddress" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Zip/Postal Code</label>
                                <input type="text" name="ZipCode" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="widget-header bordered no-actions d-flex align-items-center" style="margin-bottom: 20px;">
                        <h4>Contact</h4>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" name="Email"class="form-control" />
                            </div>

                            <div class="form-group">
                                <label>Home Phone</label>
                                <input type="text" name="Mobile" class="form-control" />
                            </div>


                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Emergency Contact Name</label>
                                <input type="text" name="EmergencyContactName" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label>Emergency Contact No.</label>
                                <input type="text" name="EmergencyContactNo" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Mobile</label>
                                <input type="text" name="Mobile" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group float-right">
                        <a href="/Customer/List" class="btn btn-dark">Cancel</a>
                        <button type="submit"  class="btn btn-info">Next</button>

                        @*<input type="button" href="/Employee/Employment" value="Next" class="btn btn-info" />*@
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
           function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(90)
                    .height(110);

            };

            reader.readAsDataURL(input.files[0]);
            $('#blah').show();
        }
    }
</script>