﻿@model VUPayRoll.ViewModel.ReligionViewModel
@{
    ViewBag.Title = "CreateReligion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Begin Page Header-->
<div class="row">
    <div class="page-header" style="margin-bottom: -20px ; margin-top: -10px;">
        <div class="text-center align-items-center ">
            <h2 class="page-header-title" style="color:black">CREATE RELIGION</h2>
        </div>
    </div>
</div>

<!-- End Page Header -->
<div class="row">
    <div class="col-12">


        <div class="panel panel-default" style="padding-top: 10px;">
            <div>
                <form autocomplete="off" method="post">

                    @Html.AntiForgeryToken()
                    <div class="widget-header bordered no-actions d-flex align-items-center" style="margin-bottom: 20px;">
                        <h4>Employee Info</h4>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Religion</label>
                                <input type="text" name="Name" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group float-right">
                        <a href="/Customer/List" class="btn btn-dark">Cancel</a>
                        <button type="submit" class="btn btn-info">Save</button>

                        @*<input type="button" href="/Employee/Employment" value="Next" class="btn btn-info" />*@
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

