﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VU Payroll - @ViewBag.Title</title>
    <meta name="description" content="Elisyam is a Web App and Admin Dashboard Template built with Bootstrap 4">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Google Fonts -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>

        WebFont.load({
            google: { "families": ["Montserrat:400,500,600,700", "Noto+Sans:400,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/img/favicon-16x16.png">

    <!-- Stylesheet -->
    <link href="~/assets/vendors/css/base/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/vendors/css/base/elisyam-1.5-dark.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/owl-carousel/owl.theme.min.css">
    <link rel="stylesheet" href="~/assets/css/photoswipe/photoswipe.min.css">
    <link rel="stylesheet" href="~/assets/css/photoswipe/default-skin/default-skin.min.css">
    <link rel="stylesheet" href="~/assets/css/animate/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap-select/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/assets/css/leaflet/leaflet.min.css">
    <link rel="stylesheet" href="~/assets/css/lity/lity.min.css">
    <link rel="stylesheet" href="~/assets/css/datatables/datatables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="~/Scripts/jquery-3.4.1.js"></script>



</head>
<body id="page-top">
    <!-- Begin Preloader -->
    <div id="preloader">
        <div class="canvas">
            <img src="~/assets/img/logo.png" alt="logo" class="loader-logo">
            <div class="spinner"></div>
        </div>
    </div>
    <!-- End Preloader -->
    <div class="page">
        <!-- Begin Header -->
        <header class="header">
            <nav class="navbar fixed-top">
                <!-- Begin Search Box-->
                <div class="search-box">
                    <button class="dismiss"><i class="ion-close-round"></i></button>
                    <form id="searchForm" action="#" role="search">
                        <input type="search" placeholder="Search something ..." class="form-control">
                    </form>
                </div>
                <!-- End Search Box-->
                <!-- Begin Topbar -->
                <div class="navbar-holder d-flex align-items-center align-middle justify-content-between">
                    <!-- Begin Logo -->
                    <div class="navbar-header">
                        <a href="db-default.html" class="navbar-brand">
                            <div class="brand-image brand-big">
                                <img src="~/assets/img/logo-big.png" alt="logo" class="logo-big">
                            </div>
                            <div class="brand-image brand-small">
                                <img src="~/assets/img/logo.png" alt="logo" class="logo-small">
                            </div>
                        </a>
                        <!-- Toggle Button -->
                        <a id="toggle-btn" href="#" class="menu-btn active">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                        <!-- End Toggle -->
                    </div>
                    <!-- End Logo -->
                    <!-- Begin Navbar Menu -->
                    <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center pull-right">
                        <!-- Search -->
                        <li class="nav-item d-flex align-items-center"><a id="search" href="#"><i class="la la-search"></i></a></li>
                        <!-- End Search -->
                        <!-- Begin Notifications -->
                        <li class="nav-item dropdown">
                            <a id="notifications" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="la la-bell animated infinite swing"></i><span class="badge-pulse"></span></a>
                            <ul aria-labelledby="notifications" class="dropdown-menu notification">
                                <li>
                                    <div class="notifications-header">
                                        <div class="title">Notifications (4)</div>
                                        <div class="notifications-overlay"></div>
                                        <img src="~/assets/img/notifications/01.jpg" alt="..." class="img-fluid">
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="message-icon">
                                            <i class="la la-user"></i>
                                        </div>
                                        <div class="message-body">
                                            <div class="message-body-heading">
                                                New user registered
                                            </div>
                                            <span class="date">2 hours ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="message-icon">
                                            <i class="la la-calendar-check-o"></i>
                                        </div>
                                        <div class="message-body">
                                            <div class="message-body-heading">
                                                New event added
                                            </div>
                                            <span class="date">7 hours ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="message-icon">
                                            <i class="la la-history"></i>
                                        </div>
                                        <div class="message-body">
                                            <div class="message-body-heading">
                                                Server rebooted
                                            </div>
                                            <span class="date">7 hours ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="message-icon">
                                            <i class="la la-twitter"></i>
                                        </div>
                                        <div class="message-body">
                                            <div class="message-body-heading">
                                                You have 3 new followers
                                            </div>
                                            <span class="date">10 hours ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a rel="nofollow" href="#" class="dropdown-item all-notifications text-center">View All Notifications</a>
                                </li>
                            </ul>
                        </li>
                        <!-- End Notifications -->
                        <!-- User -->
                        <li class="nav-item dropdown">
                            <a id="user" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><img src="~/assets/img/avatar/avatar-01.jpg" alt="..." class="avatar rounded-circle"></a>
                            <ul aria-labelledby="user" class="user-size dropdown-menu">
                                <li class="welcome">
                                    <a href="#" class="edit-profil"><i class="la la-gear"></i></a>
                                    <img src="~/assets/img/avatar/avatar-01.jpg" alt="..." class="rounded-circle">
                                </li>
                                <li>
                                    <a href="pages-profile.html" class="dropdown-item">
                                        Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="app-mail.html" class="dropdown-item">
                                        Messages
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-item no-padding-bottom">
                                        Settings
                                    </a>
                                </li>
                                <li class="separator"></li>
                                <li>
                                    <a href="pages-faq.html" class="dropdown-item no-padding-top">
                                        Faq
                                    </a>
                                </li>
                                <li><a rel="nofollow" href="pages-login.html" class="dropdown-item logout text-center"><i class="ti-power-off"></i></a></li>
                            </ul>
                        </li>
                        <!-- End User -->
                        <!-- Begin Quick Actions -->
                        <li class="nav-item"><a href="#off-canvas" class="open-sidebar"><i class="la la-ellipsis-h"></i></a></li>
                        <!-- End Quick Actions -->
                    </ul>
                    <!-- End Navbar Menu -->
                </div>
                <!-- End Topbar -->
            </nav>
        </header>
        <!-- End Header -->
        <!-- Begin Page Content -->
        <div class="page-content d-flex align-items-stretch">
            <div class="default-sidebar">
                <!-- Begin Side Navbar -->
                <nav class="side-navbar box-scroll sidebar-scroll">
                    <!-- Begin Main Navigation -->
                    <ul class="list-unstyled">
                        <li class="active">
                            <a href="#dropdown-db" aria-expanded="true" data-toggle="collapse"><i class="la la-columns"></i><span>Dashboard</span></a>
                            <ul id="dropdown-db" class="collapse list-unstyled show pt-0">
                                <li><a href="db-default.html">Default</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#dropdown-app" aria-expanded="false" data-toggle="collapse"><i class="la la-puzzle-piece"></i><span>Home</span></a>
                            <ul id="dropdown-app" class="collapse list-unstyled pt-0">
                                <li><a href="app-calendar.html">Calendar</a></li>
                                <li><a href="app-chat.html">Chat</a></li>
                                <li><a href="app-mail.html">Mail</a></li>
                                <li><a href="app-contact.html">Contact</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#dropdown-icons" aria-expanded="false" data-toggle="collapse"><i class="la la-font"></i><span>Employee</span></a>
                            <ul id="dropdown-icons" class="collapse list-unstyled pt-0">
                                <li><a href="/EmployeeInfo/create">Create</a></li>
                                <li><a href="/EmployeeInfo/Employment">Employment</a></li>
                                <li><a href="/Employee/Allownces">Allownces</a></li>
                                <li><a href="/Employee/Add_Vacation">Vacation & Sick Leave</a></li>
                                <li><a href="/Employee/Add_Document">Docs</a></li>
                                <li><a href="/Employee/Add_Dependent">Depandents</a></li>
                                <li><a href="/Employee/NetSalary">Review</a></li>
                                <li><a href="/Religion/Create">Religion</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#dropdown-forms" aria-expanded="false" data-toggle="collapse"><i class="la la-list-alt"></i><span>PayRoll</span></a>
                            <ul id="dropdown-forms" class="collapse list-unstyled pt-0">
                                <li><a href="forms-basic.html">Form Basic</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#dropdown-tables" aria-expanded="false" data-toggle="collapse"><i class="la la-th-large"></i><span>Attendance</span></a>
                            <ul id="dropdown-tables" class="collapse list-unstyled pt-0">
                                <li><a href="tables-basic.html">Basic</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#dropdown-authentication" aria-expanded="false" data-toggle="collapse"><i class="la la-user"></i><span>Setup</span></a>
                            <ul id="dropdown-authentication" class="collapse list-unstyled pt-0">
                                <li><a href="pages-login.html">Login</a></li>
                                <li><a href="pages-login-02.html">Login 02</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#dropdown-generic" aria-expanded="false" data-toggle="collapse"><i class="la la-file-text"></i><span>Reports</span></a>
                            <ul id="dropdown-generic" class="collapse list-unstyled pt-0">
                                <li><a href="pages-coming-soon.html">Coming Soon</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#dropdown-social" aria-expanded="false" data-toggle="collapse"><i class="la la-comments"></i><span>Integrations</span></a>
                            <ul id="dropdown-social" class="collapse list-unstyled pt-0">
                                <li><a href="pages-newsfeed.html">Newsfeed</a></li>
                            </ul>
                        </li>
                    </ul>
                    <span class="heading">Components</span>

                    <!-- End Main Navigation -->
                </nav>
                <!-- End Side Navbar -->
            </div>
            <div class="content-inner">
                <div class="container-fluid">
                    @RenderBody()
                </div>

                <!-- Begin Page Footer-->
               
                <!-- End Page Footer -->
                <!-- Offcanvas Sidebar -->
                <!-- End Offcanvas Sidebar -->
            </div>
        </div>
    </div>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        <!-- Begin Vendor Js -->

        <script src="~/assets/vendors/js/base/jquery.ui.min.js"></script>
        <script src="~/assets/vendors/js/base/core.min.js"></script>

        <!-- End Vendor Js -->
        <!-- Begin Page Vendor Js -->
        <script src="~/assets/vendors/js/datatables/jszip.min.js"></script>
        <script src="~/assets/vendors/js/datatables/vfs_fonts.js"></script>
        <script src="~/assets/vendors/js/nicescroll/nicescroll.min.js"></script>
        <script src="~/assets/vendors/js/calendar/moment.min.js"></script>
        <script src="~/assets/vendors/js/calendar/fullcalendar.min.js"></script>
        <script src="~/assets/vendors/js/photoswipe/photoswipe.min.js"></script>
        <script src="~/assets/vendors/js/photoswipe/photoswipe-ui-default.min.js"></script>

        <script src="~/assets/vendors/js/owl-carousel/owl.carousel.min.js"></script>
        <script src="~/assets/vendors/js/progress/circle-progress.min.js"></script>
        <script src="~/assets/vendors/js/leaflet/leaflet.min.js"></script>
        <script src="~/assets/vendors/js/datepicker/moment.min.js"></script>
        <script src="~/assets/vendors/js/datepicker/daterangepicker.js"></script>
        <script src="~/assets/vendors/js/bootstrap-wizard/bootstrap.wizard.min.js"></script>
        <script src="~/assets/vendors/js/lity/lity.min.js"></script>
        <script src="~/assets/vendors/js/countdown/countdown.min.js"></script>
        <script src="~/assets/vendors/js/app/app.min.js"></script>
        <!-- End Page Vendor Js -->
        <!-- Begin Page Snippets -->
        <script src="~/assets/js/app/calendar/event-calendar.min.js"></script>
        <script src="~/assets/js/app/contact/contact.min.js"></script>
        <script src="~/assets/js/app/mail/mail.min.js"></script>
        <script src="~/assets/js/components/notifications/notifications.min.js"></script>
        <script src="~/assets/js/components/scrollable/scrollable.min.js"></script>
        
        <script src="~/assets/js/components/music/music-player.min.js"></script>
        <script src="~/assets/js/components/datepicker/datepicker.js"></script>
        <script src="~/assets/js/components/validation/validation.min.js"></script>
        <script src="~/assets/js/components/wizard/form-wizard.min.js"></script>
        <script src="~/assets/js/pages/coming-soon.min.js"></script>
        <script src="~/assets/js/pages/friends.min.js"></script>
        <script src="~/assets/js/components/tabs/animated-tabs.min.js"></script>
        <script src="~/assets/js/pages/newsfeed.min.js"></script>



        <!-- End Page Snippets -->
        <script>
            $(function () {
                $('[data-toggle="popover"]').popover
            });
            $(function () {
                $('[data-toggle="tooltip"]').tooltip
            });
            $(document).on('click', '[data-lightbox]', lity);

        </script>

</body>
</html>